---
const year = new Date().getFullYear();
---

<footer class="site-footer">
  <div class="container">
    <div class="footer-inner">
      <div>
        <div class="footer-brand">VILLAGE<span>FIVE</span></div>
        <div class="footer-tagline">THE STORIES HISTORY LEFT BEHIND</div>
      </div>
      <div class="footer-links">
        <div class="footer-link-group">
          <h4>Pages</h4>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/newsletter">Newsletter</a></li>
          </ul>
        </div>
        <div class="footer-link-group">
          <h4>Connect</h4>
          <ul>
            <li><a href="https://www.youtube.com/@villagefive" target="_blank" rel="noopener noreferrer">YouTube</a></li>
            <li><a href="https://x.com/theroberthu" target="_blank" rel="noopener noreferrer">X (Twitter)</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-copyright">&copy; {year} VillageFive. All rights reserved.</div>
      <div class="footer-social">
        <a href="https://www.youtube.com/@villagefive" target="_blank" rel="noopener noreferrer">YouTube</a>
        <a href="https://x.com/theroberthu" target="_blank" rel="noopener noreferrer">@theroberthu</a>
      </div>
    </div>
  </div>
</footer>
